<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Медицинские карточки</span>
  <span class="example-spacer"></span>
  <button style="background: royalblue; margin-right: 10px" mat-raised-button class="example-icon"
          aria-label="Example icon-button with share icon" (click)="openDialogForm()">
          Добавить пациента
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
