<div class="container">
  <h1>Информация о маршруте</h1>
  <form [formGroup]="myReactiveForm" class="form-wapper">
    <div class="controlItem">
      <span>Наименование <span *ngIf="myReactiveForm.controls['longTrip'].value" class="valid-form">*</span> </span>
      <input formControlName="name">
    </div>

    <div class="controlItem">
      <span>Автор маршрута <span *ngIf="myReactiveForm.controls['longTrip'].value" class="valid-form">*</span> </span>
      <input formControlName="autor">
    </div>

    <div class="controlItem">
      <span>Тип исполнителя <span *ngIf="myReactiveForm.controls['longTrip'].value" class="valid-form">*</span> </span>
      <select formControlName="executor">
        <option value="">-- Выберите исполинителя --</option>
        <option value="Mech">Механик</option>
        <option value="Vod">Водитель</option>
        <option value="Contr">Контролер</option>
      </select>
    </div>

    <div class="controlItem">
      <span>Дни обходов <span *ngIf="myReactiveForm.controls['longTrip'].value" class="valid-form">*</span> </span>
      <div class="ins-grid-wapper">
        <div class="radioBtn-group">
          <input type="radio" id="1" name="dayOfTheWeek" value="Пн" formControlName="dayOfTheWeek"><label for="1">Пн</label>
          <input type="radio" id="2" name="dayOfTheWeek" value="Вт" formControlName="dayOfTheWeek"><label for="2">Вт</label>
          <input type="radio" id="3" name="dayOfTheWeek" value="Ср" formControlName="dayOfTheWeek"><label for="3">Ср</label>
          <input type="radio" id="4" name="dayOfTheWeek" value="Чт" formControlName="dayOfTheWeek"><label for="4">Чт</label>
          <input type="radio" id="5" name="dayOfTheWeek" value="Пт" formControlName="dayOfTheWeek"><label for="5">Пт</label>
          <input type="radio" id="6" name="dayOfTheWeek" value="Сб" formControlName="dayOfTheWeek"><label for="6">Сб</label>
          <input type="radio" id="7" name="dayOfTheWeek" value="Вс" formControlName="dayOfTheWeek"><label for="7">Вс</label>
        </div>
        <div class="check">
          <input type="checkbox" formControlName="longTrip">
          <label>Длительный обход</label>
        </div>
      </div>
    </div>
    <div class="controlItem">
      <div class = "btn-save-warp">
        <button [disabled]="this.myReactiveForm.invalid" class ="btn-save" mat-raised-button [ngStyle]="{
        'background-color' : !this.myReactiveForm.invalid ? '#4b5ff2' : '#808080',
        'color' : '#fff',
        'width' : '110px'
        }" (click)="saveForm()">Сохранить</button>
        <button style="background-color:#4b5ff2; color: white" mat-raised-button (click)="downloadForm()">Загрузить данные</button>
      </div>
    </div>
  </form>
</div>


